@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h3 class="text-danger">Error</h3>

@if(Model.Exception is System.ServiceModel.EndpointNotFoundException)
{
    @:Cannot communicate with service.
}
else if(Model.Exception is System.ServiceModel.FaultException)
{
    @:Service is reachable.<br/>
    @(Model.Exception)
}
else
{
    @:An unkown error has occurred.<br/>
    @(Model.Exception)
}
