@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h3 class="text-danger">Error</h3>

@if(Model.Exception is System.ServiceModel.EndpointNotFoundException)
{
    @:Cannot communicate with service.<br />
    //@(Model.Exception)
}
else if(Model.Exception is System.ServiceModel.FaultException)
{
    @:Service is reachable. A service error has occurred<br />
    //@(Model.Exception)
}
else
{
    @:An unkown error has occurred.<br />
    //@(Model.Exception)
}
