body {
	width: 100%;
	background-color: #f4f7d2; /* pale yellow */
	font-size: 16px;
	font-family: "sans serif";
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* grid layout */
.grid-container {
	display: grid;
	grid-template-columns: 11em 30em;
	grid-template-rows: 6em auto;
}

/* big title bar at top of page */
.title-bar {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: 2;

	background-color: #163317; /*dark forest green*/
	color: #FFFFFF; /* white */
    padding-left: 15px;
	padding-top: 15px;
	margin-bottom: 15px;
	font-size: 44px;
}

.title-bar .subtext {
	font-size: 18px;
	font-style: italic;
}

.title-bar .subtext a {
	color: #47A54A; /* medium forest green */
}

button {
	background-color: #163317; /*dark forest green*/
	color: #FFFFFF; /* white */
	border: 1px solid black;
	font-size: 16px;
	padding: 4px, 16px, 4px, 16px;
}
button:hover {
	background-color: #47A54A; /* medium forest green */
	cursor: pointer;
}

/* left-hand menu for categories/origins */
.category-menu {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: end;
}

/* list of search results */
.search-results {
	grid-column-start: 2;
	grid-column-end: end;
	grid-row-start: 2;
	grid-row-end: end;
}

.display-search-result:hover {
	background-color: #f6f7a3;
	cursor: pointer;
}

.display-name {
	display: inline-block;
	width: 11em;
}

.display-gender {
	display: inline-block;
	width: 4em;
}

.display-origin {
	font-style: italic;
}

.expand-collapse.expand-disabled button {
	display: none; /* hide buttons when operation is disabled */
}

.expand-collapse.collapsed .expand-body {
	display: none; /* hide body when parent is marked collapsed */
}
.expand-collapse.collapsed .button-expand {
	display: inline; /* display button */
}
.expand-collapse.collapsed .button-collapse {
	display: none; /* hide button */
}

.expand-collapse.expanded .button-collapse {
	display: inline; /* display button */
}
.expand-collapse.expanded .button-expand {
	display: none; /* hide button */
}

.expand-header {
	font-size: 22px;
	padding: 4px;
	background-color: #163317; /*dark forest green*/
	color: #FFFFFF; /* white */
}

.expand-header-text {
	display: inline-block;
	width: 14em;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #163317; /*dark forest green*/
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}