body {
	width: 100%;
	background-color: #f4f7d2; /* pale yellow */
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* grid layout */
.grid-container {
	display: grid;
	grid-template-columns: 11em 30em;
	grid-template-rows: 6em auto;
}

/* big title bar at top of page */
.title-bar {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: 2;

	background-color: #163317; /*dark forest green*/
	color: #FFFFFF; /* white */
    padding-left: 15px;
	padding-top: 15px;
	margin-bottom: 15px;
	font-size: 44px;
}

.title-bar .subtext {
	font-size: 18px;
	font-style: italic;
}

.title-bar .subtext a {
	color: #47A54A; /* medium forest green */
}

button {
	background-color: #163317; /*dark forest green*/
	color: #FFFFFF; /* white */
	border: 1px solid black;
	font-size: 16px;
}
button:hover {
	background-color: #47A54A; /* medium forest green */
	cursor: pointer;
}

/* left-hand menu for categories/origins */
.category-menu {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: end;
}

/* list of search results */
.search-results {
	grid-column-start: 2;
	grid-column-end: end;
	grid-row-start: 2;
	grid-row-end: end;
}

.display-search-result:hover {
	background-color: #f6f7a3;
	cursor: pointer;
}

.display-name {
	display: inline-block;
	width: 11em;
}

.display-origin {
	font-style: italic;
}
