@using Names.Read.MvcSite.Models.Home
@model SearchModel

<span class="">@Model.NameCountMessage</span><br /><br />
@foreach(NameModel name in Model.Names)
{
	<span class="display-search-result"><span class="display-name">@name.Name</span><span class="display-origin">@name.OriginText</span></span><br />
}
