@using Names.Read.MvcSite.Models.Home
@model List<IndexModel>
@{
    ViewBag.Title = "Home Page";
}

<div>
	<h2>Find Names</h2>
	<i>An open-source project available on <a href="https://github.com/WithoutHaste/Names">GitHub</a>.  Uses Entity Framework, WCF, and ASP.Net MVC.</i>
</div>
<br/>

<div>
	@foreach(IndexModel name in Model)
	{
		@name.Name <i>@name.OriginText</i><br/>
	}
</div>
