@model ICollection<string>
@{
    ViewBag.Title = "Home Page";
}

<div>
	<h2>Find Names</h2>
	<i>An open-source project available on <a href="https://github.com/WithoutHaste/Names">GitHub</a>.</i>
</div>

<div>
	@foreach(string name in Model)
	{
		@name<br/>
	}
</div>
